/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: rgba(243, 254, 243, 1);
  color: rgba(90, 94, 93, 1);
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  height: 100%;
}

body .wrapper {
    background: #fcfffb; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfffb 0%, #edfef8 50%, #caf9fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfffb 0%,#edfef8 50%,#caf9fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfffb 0%,#edfef8 50%,#caf9fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffb', endColorstr='#caf9fd',GradientType=0 ); /* IE6-9 */
  padding-bottom: 5rem;
  height: 100%;
}


body.new-user .wrapper {
  height: auto;
}

body * {
  transition: all .25s;
}

p {
  font-weight: 300;
}

b, h1, h2, h3, h4 {
  font-weight: 700;
}

header {
  height: 
}

.groupincome-logo, nav {
  display: inline-block;
}

.groupincome-logo {
  padding: 2rem;
}

nav ul {
  margin: 0;
  padding-right: 2rem;
}

nav {
  float: right;
}

nav li {
  font-size: 1.8rem;
  list-style: none;
  margin: 0;
  display: inline-block;
}

.groupincome-logo .white {
  display: none;
}

.index .groupincome-logo .white {
  display: inline-block;
}

.index .groupincome-logo .black {
  display: none;
}

.index nav li a {
  color: rgba(255,255,255,1)
}

.index .wrapper {
  background-image: url(../images/home-bg.jpeg);
  background-size: cover;
}

nav li a {
  text-decoration: none;
  color: rgba(90, 94, 92, 1);
  display: block;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  color: rgba(83, 83, 83, 1);
  border-top: .5rem solid rgba(99, 201, 240, 0);
}

nav li a:hover {
  border-top: .5rem solid rgba(99, 201, 240, 1);
  color: rgba(99, 201, 240, 1);
}

.container {
  width: 100%;
  height: auto;
}

.new-user-container {
  width: 30rem;
  background-color: rgba(255,255,255,1);
  padding: 5rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0px 10px 19px -6px rgba(64,92,97,0.24);
  -moz-box-shadow: 0px 10px 19px -6px rgba(64,92,97,0.24);
  box-shadow: 0px 10px 19px -6px rgba(64,92,97,0.24);
  margin: 0 auto;
}

.new-user-container h2 {
  text-align:center;
}

.contribution-limits {
  margin-top: 4rem;
}

.add-income h3, .pay-group h3 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 300;
}

.new-user-container.collapsed {
  width: 15rem;
  border-radius: 15rem;
}

.btn {
  background-color: rgba(161, 206, 41, 1);
  color: rgba(255,255,255,1);
  border-radius: .5rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  padding: 1.8rem;
}

.text-input {
  border: none;
  padding: 1.5rem 1.5rem .5rem 0;
  border-bottom: .2rem dashed rgba(204, 204, 204, 1);
  font-size: 1.8rem;
}

.text-input.contribution-limit {
  padding: 1.5rem 1.5rem .5rem 1.5rem;
}

label {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

img.venmo {
  height: 1rem;
  position: relative;
  top: -0.2rem;
}

.dollar-label {
  position: absolute;
  left: 0;
  top: -3.4rem;
  font-size: 1.8rem;
}

.text-input {
  width: 27rem;
}

input:focus {
  border-bottom: 2px solid rgba(161, 206, 41, 1);
  outline: none;
}

.payment-options {
  display: inline-block; float: right;
}

.group-member {
  list-style: none;
  background-color: rgba(250,250,250,1);
  padding: 2rem;
  border-radius: .3rem;
  margin: .5rem;
  text-align: left;
}

.payment-information .date {
  color: rgba(200,200,200,1);
  display: block;
  text-align: left;
}

.payment-information table {
  width: 100%;
}

.payment-information .amount {
  display: block;
  text-align: right;
  font-weight: 700;
}

.payment-information .total .amount {
  font-size: 2.4rem;
}

.group-member .member-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.group-member.paid .payment-options {
  display: none;
}

.dashboard-item ul {
  width: 75%;
  float: right;
}

.dashboard-item .payment-information {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 5rem;
}

.group-member.unpaid {
  background: rgba(255, 248, 241, 1);
  border-left: 1rem solid rgba(249, 147, 0, 1);

}

.total.needs td {
  padding-bottom: 1rem;
}

tr.paid td span {
  text-decoration: line-through;
}

.payment-information td span .paid {
  display: none;
}

.payment-information tr {
  border-bottom: .2rem dashed rgba(251, 251, 251, 1);
}

tr.paid td .date span.paid {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
}
.new-user-container .btn {
  margin: 1rem;
  width: 10rem;
  display: block;
  margin: 1rem auto 0rem auto;
}

.dashboard {
  width: 80%;
  background-color: rgba(255,255,255,1);
  margin: 0 auto;
  border-radius: .3rem;
  -webkit-box-shadow: 0px 10px 19px -6px rgba(64,92,97,0.24);
  -moz-box-shadow: 0px 10px 19px -6px rgba(64,92,97,0.24);
  box-shadow: 0px 10px 19px -6px rgba(64,92,97,0.24);
}

.my-dashboard {
  width: 40%;
  float: left;
}

.group-dashboard {
  width: 40%;
  float: right;
  text-align: right;
}

.dashboard-top {
  padding: 5rem;
  background-color: rgba(248,248,248,1);
  padding-bottom: 2.5rem;
}

.dashboard-labels span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2.5rem;
}

.dashboard-labels .your-income {
  width: 20%;
  float: left;
  text-align: center;
}

.dashboard-labels .your-group-payments {
  width: 75%;
  float: right;
  text-align: center;
}

.dashboard-bottom {
  padding: 2.5rem;
}

.group-dashboard h2 {
}

.group-dashboard span {
  display: block;
}

.payment-information td {
  padding: 0 1.25rem;
}

.payment-disbursal {
}

.payment-disbursal li .paid, .payment-disbursal li .unpaid, .payment-disbursal li .user-payment-date {
  display: none;
}

.payment-disbursal li.paid .user-payment-date {
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 0.5rem;
  float: right;
}

.payment-disbursal li.paid {
  opacity: 0.7;
}

.payment-disbursal li.paid .paid {
  display: inline;
}

.payment-disbursal li.unpaid .unpaid {
  display: inline;
}

.payment-options .btn {
  padding: .3rem .8rem .6rem .8rem;
}

.payment-options img {
  height: .9rem;
}

.income-received-item {
  display: block;
  text-align: center;
}

.amount .add-income.btn {
  padding: 0rem .5rem;
  font-size: 1.2rem
}

.total.contributions.contributed {
  border-top: .5rem solid rgba(240,240,240,1);
}

.total.contributions.contributed .amount {
  color: rgba(161, 209, 12, 1);
}

.total.contributions.remaining .amount {
  color: rgba(249, 147, 0, 1);
}

.total.contributions td {
  padding: 1rem 1.25rem;
  background-color: rgba(251, 251, 251, 1);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
