@import "_variables";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* message transition */
.slidedown-enter-active,
.slidedown-leave-active {
  transition: max-height 0.3s ease;

  /* Todo: move that to dynmaic js, so it's mnore generic */
  max-height: 150px;
  overflow: hidden;
}

.slidedown-enter,
.slidedown-leave-to {
  max-height: 0;
}

.zoom-enter-active {
  animation: enterFromBottom 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);

  @include tablet {
    animation: zoom 0.3s;
  }
}

.zoom-leave-active {
  animation: enterFromBottom 500ms both cubic-bezier(0.165, 0.84, 0.44, 1) reverse;

  @include tablet {
    animation: zoom 0.3s reverse;
  }
}

.expand-enter-active,
.expand-leave-active {
  transition: opacity 0.5s, max-height 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
  max-height: 21rem;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

@keyframes blink-animation {
  to {
    opacity: 0;
  }
}

@keyframes enterFromBottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
