@font-face {
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-family: "Poppins";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-family: "Poppins";
  font-weight: 400;
}

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: $size-4; // 14px
  line-height: 1.3125rem; // 21px
  letter-spacing: 0.1px;
  color: $text_0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; // reset margins
}

// From _variables.scss
// $size-1 = 2rem     = 32px
// $size-2 = 1.5rem   = 24px = $size-large
// $size-3 = 1.125rem = 18px = $size-medium
// $size-4 = 0.875rem = 14px = $size-normal
// $size-5 =  0.75rem = 12px = $size-small

$titles: $size-1, $size-2, $size-3, $size-4;
$lineHeight: 3, 2.25, 1.6875, 1.3125, 1;
// From line height: 48px, 36px, 27px, 21px, 16px

@each $size in $titles {
  $i: index($titles, $size);

  h#{$i},
  .is-#{$i} {
    font-family: "Poppins";
    font-weight: bold;
    font-size: $size;
    line-height: #{nth($lineHeight, $i)}rem;
  }
}

@include until($tablet) {
  h1,
  .is-1 {
    font-size: $size-2; // 24px
    line-height: 2.125rem; // 34px
  }

  h2,
  .is-2 {
    font-size: 1.25rem; // 20px
    line-height: 1.75rem; // 28px
  }
}

@include phone {
  h1,
  .is-1 {
    font-size: 1.25rem; // 20px
    line-height: 2.125rem; // 34px
  }

  h2,
  .is-2 {
    font-size: $size-3; // 18px
    line-height: 1.5625rem; // 25px
  }
}

.subtitle {
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: $size-5;
  line-height: 1rem;
  color: $text_1;
}

.label {
  font-weight: 600;
}

.has-text-big {
  font-size: 1rem;
}

.help,
.has-text-small,
small {
  font-size: $size-5;
}

.has-text-bold {
  font-weight: 600;
}

.has-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// formerly in _colors.scss, moved here so that
// @import "_variables"; in scoped styles in vue components
// doesn't result in repeated CSS generated

.has-text-0 {
  color: $text_0;
}

.help,
.has-text-1 {
  color: $text_1;
}

@each $name in $colors {
  .has-text-#{$name} {
    color: var(--#{$name}_0);
  }

  .has-background-#{$name} {
    background-color: var(--#{$name}_2);
  }
}

.has-text-white {
  color: $white;
}

// ---------- SVGs

// NOTE: This is only a POC to handle "themable" illustrations.
// Final solution should be done at #665
.svg-hello {
  path:nth-child(1) {
    fill: $primary_1;
  }
}
