@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
  font-family: "Source Sans Pro";
  font-weight: 300;
}

@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-family: "Source Sans Pro";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-family: "Source Sans Pro";
  font-weight: 700;
}

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem; // 14px
  line-height: 1.3125rem; // 21px
  letter-spacing: 0.1px;
  color: $text-strong;

  @include phone {
    // slightly increase default font-size only on mobile devices for A11Y purpose
    font-size: 0.9375rem; // 15px
  }
}

// From _variables.scss
// $size-1 = 2rem     = 32px
// $size-2 = 1.5rem   = 24px = $size-large
// $size-3 = 1.125rem = 18px = $size-medium
// $size-4 = 0.875rem = 14px = $size-normal
// $size-5 =  0.75rem = 12px = $size-small

$sizes: $size-1, $size-2, $size-3, $size-4, $size-5;
$lineHeight: 2.5, 1.875, 1.4375, 1.125, 1.9375;
// From line height: 40px, 30px, 23px, 18px, 15px

@each $size in $sizes {
  $i: index($sizes, $size);
  h#{$i},
  .is-#{$i} {
    font-size: $size;
    line-height: #{nth($lineHeight, $i)}rem;
  }
}

header,
.title {
  font-style: normal;
  font-weight: bold;
}

header p,
.subtitle {
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: $size-5; // 12px
  line-height: 1rem; // 16px
  color: $text-light;
}

.label {
  font-weight: bold;
}

.help,
small {
  font-size: 0.875em;
}
