.is-link-inherit {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $primary_0;
  }
}

.is-unstyled {
  background: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  min-height: auto;
  color: inherit;
  text-align: inherit;
  padding: 0;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: inherit;
    background: none;
    box-shadow: none;
  }
}

// Screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Global Classes for SVG fills
$fills: (
  primary: $primary_0,
  primary-light: $primary_2,
  secondary: $success_0,
  tertiary: $warning_0,
  light: $general_2
);

@each $class, $color in $fills {
  .gi-has-fill-#{$class} {
    fill: $color;
  }
}
