$black: var(--black);
$white: var(--white);
$text_black: var(--text_black);
$warning: var(--warning);
$danger: var(--danger);
$border: var(--border);
$emphasis: var(--emphasis);
$helper: var(--helper);

$primary_blue: var(--primary_blue);
$primary_purple: var(--primary_purple);
$secondary_purple_0: var(--secondary_purple_0);
$secondary_purple_1: var(--secondary_purple_1);
$secondary_blue_0: var(--secondary_blue_0);
$secondary_blue_1: var(--secondary_blue_1);
$secondary_green_0: var(--secondary_green_0);
$secondary_green_1: var(--secondary_green_1);

$background_0: var(--background_0);
$background_1: var(--background_1);
$background_active: var(--background_active);
$text_0: var(--text_0);
$text_1: var(--text_1);

/* NOTE: <variable-name> : (<light-theme-value>, <dark-theme-value>) */

/* stylelint-disable */
$colors_map: (
  // buttons
  button-primary-bg-color: (#1c1c1c, #b1e3ff),
  button-primary-text-color: (#fff, #1c1c1c),
  button-outline-bg-color: (rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  button-outline-border-color: (rgba(0, 0, 0, 0.4), rgb(65, 65, 65)),
  button-outline-text-color: (#1c1c1c, #fff),
  button-box-shadow: (0 0 16px rgba(219, 219, 219, 0.5), 0 0 12px rgba(132, 132, 132, 0.35)),

  // forms - styled-input
  styled-input-border-color: (rgba(0, 0, 0, 0.1), rgb(65, 65, 65)),
  styled-input-border-color_focus: (rgba(0, 0, 0, 0.4), rgb(65, 65, 65)),
  styled-input-background-color: (#fff, #2a2a2a),
  styled-input-placeholder-color: (rgba(0, 0, 0, 0.275), rgba(255, 255, 255, 0.325)),
  styled-input-label-color: (#9747ff, #b1e3ff),

  // forms - radio button
  radio-outer-border-color: (rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.275)),
  radio-outer-border-color_active: (#1C1C1C, #b1e3ff),
  radio-inner-bg-color: (#1C1C1C, #b1e3ff),

  // forms - dropdown
  dropdown-bg-color: (#FFFFFF, #1c1c1c),
  dropdown-active-bg-color: (#F7F9FB, #2a2a2a),
  dropdown-box-shadow: (0 0 16px rgba(219, 219, 219, 0.5), 0 0 1px rgba(0, 0, 0, 0)),

  // summary-list
  summary-list-bg-color: (#fff, #2a2a2a),

  // custom-pre
  custom-pre-bg-color: (#f2f2f2, #1c1c1c),
  custom-pre-text-color: (#1c1c1c, #f2f2f2),
  custom-pre-border-color: (rgba(0, 0, 0, 0.1), rgb(65, 65, 65)),

  // modal
  modal-bg-color: (#fff, #2a2a2a),

  // stat-card
  stat-card-icon-color: (var(--text_1), var(--text_black)),

  // info-card
  info-card-bg-color: (#fff, rgba(255, 255, 255, 0.05)),
  info-card-feature-color: (#1c1c1c, #b1e3ff),
  info-card-content-color: (rgba(0, 0, 0, 0.5), #fff),

  // tooltip
  tooltip-bg-color: (rgba(28, 28, 28, 0.875), rgba(242, 244, 247, 0.925)),
  tooltip-text-color: (#fff, #1c1c1c)
);
/* stylelint-enable */

// "light-theme" custom-variable declarations
:root {
  @each $name, $values in $colors_map {
    $light_value: nth($values, 1);

    --#{$name}: #{$light_value};
  }
}

// "dark-theme" custom-variable declarations
:root[data-theme="dark"] {
  @each $name, $values in $colors_map {
    $dark_value: nth($values, 2);

    --#{$name}: #{$dark_value};
  }
}

@mixin if-dark-theme {
  :root[data-theme="dark"] & {
    @content;
  }
}
