$black: var(--black);
$white: var(--white);
$warning: var(--warning);
$danger: var(--danger);
$border: var(--border);
$emphasis: var(--emphasis);

$primary_blue: var(--primary_blue);
$primary_purple: var(--primary_purple);
$secondary_purple_0: var(--secondary_purple_0);
$secondary_purple_1: var(--secondary_purple_1);
$secondary_blue_0: var(--secondary_blue_0);
$secondary_blue_1: var(--secondary_blue_1);
$secondary_green_0: var(--secondary_green_0);
$secondary_green_1: var(--secondary_green_1);

$background_0: var(--background_0);
$background_1: var(--background_1);
$background_active: var(--background_active);
$text_0: var(--text_0);
$text_1: var(--text_1);
