@use "sass:map";

// More fonts icon in node_module/fontawesome
$icons: (
  chalkboard: "\e9f6",
  address-book: "\e901",
  user: "\ecee",
  user-circle: "\ecef",
  user-rectangle: "\ecf8",
  users: "\ecf9",
  suitcase: "\ec99",
  list-bullets: "\eb73",
  list-checks: "\eb74",
  menu: "\eb72",
  gear: "\eb05",
  gear-six: "\eb06",
  plus: "\ec0c",
  plus-circle: "\ec0d",
  minus: "\eb9a",
  minus-circle: "\eb9b",
  cross: "\ed1d",
  cross-circle: "\ed1e",
  trend-up: "\ece3",
  trend-down: "\ece2",
  chart-up: "\e9fc",
  chart-bar: "\e9f9",
  battery-full: "\e999",
  battery-charging: "\e996",
  bell: "\e9a3",
  check: "\ea0e",
  checks: "\ea10",
  check-circle: "\ea0f",
  check-square: "\ea11",
  sun: "\ec9b",
  moon: "\eb9f",
  moonstar: "\eba0",
  currency-circle: "\ea51",
  network: "\ec49",
  three-circle-plus: "\ea1a",
  caret-up: "\e9ec",
  caret-down: "\e9e9",
  caret-circle-up: "\e9e4",
  caret-circle-down: "\e9e1",
  info: "\eb53",
  close: "\ed1d",
  close-circle: "\ed1e",
  copy: "\ea42"
);

@font-face {
  font-family: "Chelonia Icons";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Icons/chelonia-icons.woff") format("woff");
}

[class^="icon-"] {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  vertical-align: middle;

  &::before {
    text-rendering: auto;
    line-height: 1;
    font-family: "Chelonia Icons";
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  &.is-prefix {
    margin-right: 0.5rem;
  }

  &.is-suffix {
    margin-left: 0.5rem;
  }
}

@each $name, $icon in $icons {
  .icon-#{$name}::before {
    content: $icon;
  }
}

@mixin icon($name) {
  content: map.get($icons, $name);
  text-rendering: auto;
  line-height: 1;
  font-family: "Chelonia Icons";
  font-weight: 600;
  -moz-osx-font-smoothing: grayscale;
}
