// TODO Remove font-awesome and replace by https://icomoon.io font.

// More fonts icon in node_module/fontawesome
$icons: (
  chalkboard: "\e9f6",
  address-book: "\e901",
  user: "\ecee",
  user-circle: "\ecef",
  user-rectangle: "\ecf8",
  users: "\ecf9",
  suitcase: "\ec99",
  list-bullets: "\eb73",
  list-checks: "\eb74"
);

@font-face {
  font-family: "Chelonia Icons";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Icons/chelonia-icons.woff") format("woff");
}

[class^="icon-"] {
  display: inline-block;
  font-style: normal;
  font-variant: normal;

  &::before {
    text-rendering: auto;
    line-height: 1;
    font-family: "Chelonia Icons";
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  &.is-prefix {
    margin-right: 0.5rem;
  }

  &.is-suffix {
    margin-left: 0.5rem;
  }
}

@each $name, $icon in $icons {
  .icon-#{$name}::before {
    content: $icon;
  }
}

@mixin icon($name) {
  content: map-get($icons, $name);
  text-rendering: auto;
  line-height: 1;
  font-family: "Chelonia Icons";
  font-weight: 600;
  -moz-osx-font-smoothing: grayscale;
}
