$toolbarHeight: 2.75rem;

.app-layout {
  display: grid;
  height: 100%;
  overflow: hidden;
  grid-template-rows: #{$toolbarHeight} auto;
  grid-template-areas:
    "l-toolbar"
    "l-page";

  @include tablet {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "l-toolbar l-toolbar"
      "l-navigation l-page";
  }
}

.l-toolbar {
  grid-area: l-toolbar;
  position: sticky;
  height: $toolbarHeight;
  width: 100%;
  z-index: $zindex-banner;
}

.l-navigation {
  grid-area: l-navigation;
  height: 100%;

  @include until($tablet) {
    position: absolute;
    z-index: $zindex-sidebar;
    transform: translateX(-100%);
    transition: transform $transitionSpeed;

    &.is-active {
      transform: translateX(0);
    }
  }
}

.l-page {
  grid-area: l-page;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - #{$toolbarHeight});
  padding: 1rem;
}

.l-modal {
  position: absolute;
}
