@use "variables" as *;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.zoom-enter {
  animation: zoom 0.3s;
}

.zoom-leave-to {
  animation: zoom 0.3s reverse;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes opacity-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.page-fade-enter {
  transform: translateX(-1.5rem);
  opacity: 0;
}

.page-fade-enter-active {
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
  transition-delay: 250ms;
}

.page-fade-leave-active {
  transition:
    transform 200ms ease-out,
    opacity 200ms ease-out;
}

.page-fade-leave-to {
  transform: translateX(1.5rem);
  opacity: 0;
}
