@font-face {
  src: url(../fonts/Inter/Inter_Regular.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Inter/Inter_SemiBold.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 600;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-family: "Poppins";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-family: "Poppins";
  font-weight: 400;
}

html {
  font-size: var(--text-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: "Inter", "Helvetica Neue", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: $size_4; // 14px
  line-height: 1.5; // 21/14
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; // reset margins
}

// From _variables.scss
// $size_1 = 2rem     = 32px
// $size_2 = 1.5rem   = 24px = $size_large
// $size_3 = 1.125rem = 18px = $size_medium
// $size_4 = 0.875rem = 14px = $size_normal
// $size_5 =  0.75rem = 12px = $size_small

$titles: $size_1, $size_2, $size_3, $size_4;
$lineHeight: 3, 2.25, 1.6875, 1.3125, 1;
// From line height: 48px, 36px, 27px, 21px, 16px

@each $size in $titles {
  $i: index($titles, $size);

  .is-title-#{$i} {
    font-family: "Poppins";
    font-weight: bold;
    font-size: $size;
    line-height: #{nth($lineHeight, $i)}rem;
  }
}

.section-title {
  position: relative;
  display: block;
  color: $text_1;
  font-size: 1rem;
  font-family: "Poppins";
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  padding-left: 0.25rem;
}

.has-text-bold {
  font-weight: 600;
}
