// spacing utiltity classes
// utility classes for margins
@for $n from 0 through 6 {
  $value: $n * 1rem;

  // .mt-0 { margin-top: 0; } ..... .mt-6 { margin-top: 6rem; }
  .mt-#{$n} { margin-top: $value !important; }

  // .mb-0 { margin-bottom: 0; } ..... .mb-6 { margin-bottom: 6rem; }
  .mb-#{$n} { margin-bottom: $value !important; }

  // .ml-0 { margin-left: 0; } ..... .ml-6 { margin-left: 6rem; }
  .ml-#{$n} { margin-left: $value !important; }

  // .mr-0 { margin-right: 0; } ..... .mr-6 { margin-right: 6rem; }
  .mr-#{$n} { margin-right: $value !important; }
}

// Screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.is-inline-block {
  display: inline-block;
}

.is-unstyled {
  background: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  min-height: auto;
  color: inherit;
  text-align: inherit;
  padding: 0;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: inherit;
    background: none;
    box-shadow: none;
  }
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}

.hide-touch {
  @include touch {
    display: none !important;
  }
}

.hide-phone {
  @include phone {
    display: none !important;
  }
}

.hide-tablet {
  @include tablet {
    display: none !important;
  }
}

// reference: https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134
.hide-touch-device {
  @media (hover: none) and (pointer: coarse) {
    display: none !important;
  }
}

.hide-hoverable-device {
  @media (hover: hover) and (pointer: fine) {
    display: none !important;
  }
}
