@charset "utf-8";

// Files here are currently the replica of the same files in the 'group-income' project,
// but likely to be modified according to the design
@import "_variables";
@import "_reset";
@import "_base";
@import "_typography";
@import "_utilities";
@import "_icons";
@import "_layout";

@import "components/_buttons";
@import "components/miscellaneous";
