@charset "utf-8";

// Files here are currently the replica of the same files in the 'group-income' project,
// but likely to be modified according to the design
@use "reset";
@use "base";
@use "typography";
@use "utilities";
@use "icons";
@use "layout";
@use "transitions";

@use "components/buttons";
@use "components/miscellaneous";
@use "components/tables";
@use "components/forms";
@use "components/skeletons";
@use "components/pills";
