<p>this was included from another file!</p>
<p>Current route path: {{$route.path}}</p>
<p>This <a v-link="'/new-user'">link</a> is an example of Vue.js usage within an `.ejs` file! Go ahead and click it to see the router change the "page" we're on.</p>