<p>this was included from another file!</p>
<p>Current route path: {{$route.path}}</p>
<p>This <router-link to="/new-user">link</router-link> is an example of Vue.js usage within an `.ejs` file! Go ahead and click it to see the router change the "page" we're on.</p>