<div>
    <h1>this is ejs!</h1>
    <% if (false) { %>
        <p>test1</p>
    <% } else { %>
        <p>test2</p>
    <% } %>
    <p>Click <a v-link="'/new-user'">here</a> to create a new user.</p>
</div>
<div><%- include included %></div>
<p>
    TODO:
    <ul>
        <li>investigate the hot-component reloading</li>
    </ul>
</p>
<script2 vendor="jquery" global="jQuery" async></script2>