<div class="content">
    <h1 class="title">this is ejs!</h1>
    <% if (false) { %>
        <p>test1</p>
    <% } else { %>
        <p>test2</p>
    <% } %>
    <p>Click <a v-link="'/new-user'">here</a> to create a new user.</p>
</div>
<div class="content">
    <%- include included %>
    <p>TODO:</p>
    <ul id="todo">
        <li>investigate the hot-component reloading</li>
    </ul>
</div>
<!-- Note, we already require sprint.js so using <script> to
    load it here doesn't make sense. The only reason it's here
    is to test VueScript2. Eventually this will be removed. -->
<script src="/simple/vendor/sprint.js"></script>
<script>
    $('#todo').append('<li>This was inserted via Sprint.js using script2</li>')
</script>
<%
    // waitForGlobal used to be a global function in all EJS templates
    // However it has been removed because this usage *WILL NOT WORK*.
    // Here's why:
    // 
    // - The code below gets executed immediately, even when
    //   this test.ejs "page" isn't being displayed.
    // - Therefore, if another page is displayed that *does*
    //   load jQuery, then this code gets run, but that page
    //   might not have a '#todo' list, or worse, it might have
    //   one but for a totally different purpose!
    // 
    // Therefore just use script2 as shown above.
    /* waitForGlobal('$', function () {
        console.log('FOO')
        $('#todo').append('<li>This was inserted via jQuery using EJS `&lt;% .. %&gt;` templates</li>')
    })
    */
%>