{
  "presets": [["env", {
    "targets": {
      "browsers": [
        "last 2 versions"
      ]
    }
  }]],
  "plugins": ["transform-flow-strip-types", "transform-inline-environment-variables", "transform-runtime", "transform-class-properties", "transform-object-rest-spread"]
}
