{
  "presets": [["@babel/preset-flow", { "all": true }], "@babel/preset-env"],
  "plugins": [
    "babel-plugin-root-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
