# Build artifacts
/node_modules/
/dist/

# prevent accidental addition of yarn.lock from making Travis builds longer
/yarn.lock

# Database
/sqlite.db
/groupincome.db
/test.db

# Logs
*.log

# OS artificats
.DS_Store

# Editor artifacts
/.idea/
/.imdone/
/NOTES.md
.editorconfig
*.sublime-workspace
*.sublime-project

# Misc
/ignored
/data/*

# Cypress
/test/cypress/videos
/test/cypress/screenshots
/test/cypress/cache/*
!/test/cypress/cache/.gitkeep
