# Build artifacts
/node_modules/
/dist/
/test/contracts/
*?rollup-plugin-vue=script.js

# prevent accidental addition of yarn.lock from making Travis builds longer
/yarn.lock

# Caches
.eslintcache
.stylelintcache

# Database
/sqlite.db
/groupincome.db
/test.db

# Logs
*.log

# OS artificats
.DS_Store

# Editor artifacts
/.idea/
/.imdone/
/NOTES.md
.editorconfig
*.sublime-workspace
*.sublime-project
.vscode

# Misc
/ignored
/data/*
!/data/.gitkeep

# Cypress
/test/cypress/videos
/test/cypress/screenshots
/test/cypress/cache/*
!/test/cypress/cache/.gitkeep

# Translation
strings.exe
/strings.mac
/strings.linux
