# For $deity's sake, check that anything we're getting is complete and sane on a regular basis.
# https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
[transfer]
    fsckObjects = true
[fetch]
    fsckObjects = true
[receive]
    fsckObjects = true
