# Build artifacts
/node_modules/
/dist/

# Database
/sqlite.db
/groupincome.db
/test.db

# Logs
*.log

# OS artificats
.DS_Store

# Editor artifacts
/.idea/
/.imdone/
/NOTES.md

# Application specific
/frontend/simple/js/ignored
