$radius: 3px;

$grey-darker: #222324;
$grey-dark: #69707a;
$grey: #aeb1b5;
$grey-light: #d3d6db;
$grey-lighter: #f5f7fa;

$success: $gi-brand-green;

$blue: #42afe3;
$green: #78c848;
$orange: #f68b39;
$purple: #847bb9;
$red: #ed6c63;
$turquoise: $gi-brand-blue-dark;
$yellow: #fce473;

$link: $gi-brand-blue-dark;

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
