$radius: 3px;

$grey-darker: #222324;
$grey-dark: #69707a;
$grey: #aeb1b5;
$grey-light: #d3d6db;
$grey-lighter: #f5f7fa;

$success: $gi-primary-green;

$blue: #42afe3;
$green: #78c848;
$orange: #f68b39;
$purple: #847bb9;
$red: #ed6c63;
$turquoise: #1fc8db;
$yellow: #fce473;

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
