@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
  font-family: "Source Sans Pro";
  font-weight: 300;
}

@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-family: "Source Sans Pro";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-family: "Source Sans Pro";
  font-weight: 700;
}

body {
  font-size: $size-6; // Bulma doesnt have a variable
}

// ------ index.html ------ //

.gi-routerView {
  position: relative;
  min-height: 100vh;
  padding: $gi-spacer-xl $gi-spacer $gi-spacer;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: $gi-spacer-lg $gi-spacer*1.5;
    margin-left: $gi-sidebar-width;
  }
}

.gi-logo {
  width: 8rem;
}

.fade-enter-active,
.fade-leave-active {
  transform: scale(1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0);
}

// ------ Utilities ------ //

.gi- {
  &is-opacity-1 { opacity: $gi-opacity-1; }
  &is-opacity-2 { opacity: $gi-opacity-2; }
  &is-opacity-3 { opacity: $gi-opacity-3; }

  &is-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // gi utilites
  &is-justify-between {
    justify-content: space-between;
  }

  // Used on buttons and links
  &is-unstyled {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
    padding: 0;

    &:focus,
    &:hover {
      outline: none;
      border: none;
      color: inherit;
    }
  }

  &is-link {
    color: $link;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $link-hover;
    }
  }

  &is-link-inherit {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $link;
    }
  }
}
