@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
  font-family: "Source Sans Pro";
  font-weight: 300;
}

@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-family: "Source Sans Pro";
  font-weight: 400;
}

@font-face {
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-family: "Source Sans Pro";
  font-weight: 700;
}

body {
  font-size: $size-6;

  @include mobile {
    // slightly increase default font-size only on mobile devices for A11Y purpose
    font-size: 0.9375rem; // 15px
  }
}

a {
  border-bottom: 1px solid $link;
  transition: padding-bottom ease-out .05s, color ease-out .15s;

  &:hover {
    color: $link-hover;
    border-bottom-color: $link-hover;
    padding-bottom: 2px;
  }

  &.no-border {
    border-bottom: none;

    &:hover {
      padding-bottom: initial;
    }
  }
}

// ------ index.html ------ //

.gi-routerView {
  position: relative;
  min-height: 100vh;
  padding: $gi-spacer-xl $gi-spacer $gi-spacer;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: $gi-spacer-lg $gi-spacer*1.5;
    margin-left: $gi-sidebar-width;
  }
}

.gi-logo {
  min-width: 8rem;
  width: 8rem;
}

// ------ Utilities ------ //

.gi- {
  &is-opacity-1 { opacity: $gi-opacity-1; }
  &is-opacity-2 { opacity: $gi-opacity-2; }
  &is-opacity-3 { opacity: $gi-opacity-3; }

  &is-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // gi utilites
  &is-justify-between {
    justify-content: space-between;
  }

  // Used on buttons and links
  &is-unstyled {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
    padding: 0;

    &:focus,
    &:hover {
      outline: none;
      border: none;
      color: inherit;
    }
  }

  &is-link {
    color: $link;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $link-hover;
    }
  }

  &is-link-inherit {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $link;
    }
  }

  // screen readers only
  &sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

// Global Classes for SVG fills
$fills: (
  primary: $primary,
  primary-light: $primary-light,
  secondary: $secondary,
  tertiary: $tertiary,
  light: $light
);

@each $class, $color in $fills {
  .gi-has-fill-#{$class} {
    fill: $color;
  }
}
