// GI variables
$gi-opacity-1: 0.75;
$gi-opacity-2: 0.5;
$gi-opacity-3: 0.25;

$gi-spacer: 1rem; // same as gap but in rem
$gi-spacer-xl: $gi-spacer * 4;
$gi-spacer-lg: $gi-spacer * 2;
$gi-spacer-md: $gi-spacer;
$gi-spacer-sm: $gi-spacer / 2;
$gi-spacer-xs: $gi-spacer / 4;

// NOTE: Find a way to generated different import themes
@import "kindergarten-professional";

// Import Bulma's utilities module to be available on further overrides and vue components
@import "../../node_modules/bulma/sass/utilities/all";
