$size-6: 0.875rem; // 14px
$size-5: 1.125rem; // 18px
$size-large: $size-5;

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #5dc8f0;
$primary-text: darken($primary, 15%); // blue is too light - A11Y purposes

// both colors are indentical on white bg: one is solid and another is transparent
$primary-bg-s: lighten($primary, 28%);
$primary-bg-a: rgba($primary, 0.2);

$secondary: #a0d10e;
$tertiary: #f89201;

$success: saturate($secondary, 10%);
$warning: lighten(adjust-hue($tertiary, 0%), 10%);
$danger: lighten(adjust-hue($tertiary, -30%), 20%);
$info: $primary-text;

@import "../../node_modules/bulma/sass/utilities/derived-variables";

$addColors: (
  "secondary":($secondary, #fff),
  "tertiary": ($tertiary, #fff),
);

$colors: map-merge($colors, $addColors);

// Typography

$link: $primary;
$text: $grey-darker;

$family-sans-serif: #{"Source Sans Pro", "Helvetica Neue", sans-serif};
$family-monospace: #{monospace};
$body-family: $family-sans-serif;

$body-background-color: #fff;
$text: $grey-darker;
