$size-6: 0.875rem; // 14px
$size-5: 1.125rem; // 18px
$size-large: $size-5;

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #5dc8f0;
$primary-light: lighten($primary, 10%); // used on backgrounds
$primary-text: darken($primary, 15%); // $primary is too light for texts - A11Y purposes

// both colors are indentical on white bg: one is solid and another is transparent
$primary-bg-s: lighten($primary, 28%);
$primary-bg-a: rgba($primary, 0.2);

$secondary: #a0d10e;
$tertiary: #f89201;

$success: $secondary;
$warning: $tertiary;
$danger: lighten(adjust-hue($tertiary, -30%), 20%);
$info: $primary-text;
$link: $primary-text;
$light: $grey-lighter;

@import "../../node_modules/bulma/sass/utilities/derived-variables";

// Typography
$text: $grey-darker;
$body-background-color: #fff;

$family-sans-serif: #{"Source Sans Pro", "Helvetica Neue", sans-serif};
$family-monospace: #{monospace};
$body-family: $family-sans-serif;

$addColors: (
  "primary-light": ($primary-light, #fff),
  "text-light": ($text-light, #fff),
  "secondary": ($secondary, #fff),
  "tertiary": ($tertiary, #fff)
);

$colors: map-merge($colors, $addColors);
