$size-6: 0.875rem; // 14px
$size-5: 1.125rem; // 18px
$size-large: $size-5;

// @import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$primary: var(--primary);
$primarySaturated: var(--primarySaturated);
$primary-light: var(--primary-light); // used on backgrounds
$primary-text: var(--primary-text); // $primary is too light for texts - A11Y purposes

// both colors are indentical on white bg: one is solid and another is transparent
$primary-bg-test: lighten(#5dc8f0, 28%);
$primary-bg-s: var(--primary-bg-s);
$primary-bg-a: var(--primary-bg-a);

$secondary: var(--secondary);
$tertiary: var(--tertiary);

$success: $secondary;
$warning: $tertiary;
$danger: var(--danger);
$info: $primary-text;
$link: $primary-text;
$light: $white-ter;

@import "node_modules/bulma/sass/utilities/derived-variables";

// Typography
$text: $grey-darker;
$body-background-color: #fff;

$family-sans-serif: #{"Source Sans Pro", "Helvetica Neue", sans-serif};
$family-monospace: #{monospace};
$body-family: $family-sans-serif;

$addColors: (
  "primary-light": ($primary-light, #fff),
  "text-light": ($text-light, #fff),
  "secondary": ($secondary, #fff),
  "tertiary": ($tertiary, #fff)
);

$colors: map-merge($colors, $addColors);

.is-danger {
  color: $danger;
  font-weight: bold;
}
