@import "../../node_modules/bulma/sass/utilities/all";

.navbar.gi {
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

// Force dropdown to show on tablet too.
// Keep it here until navbar is full responsive
.has-dropdown.gi {
  .navbar-link {
    &::after {
      border: 3px solid $link;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
    }
  }

  .navbar-dropdown {
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #f5f7fa;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;

    .is-right {
      left: auto;
      right: 0;
    }
  }

  &.navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }
}
