$box-shadow: none;
$box-radius: $radius;
$box-padding: $gi-spacer;

@import "../../node_modules/bulma/sass/elements/box";

$gi-compact-spacer: $gi-spacer*0.75;

.box {
  border: 1px solid $grey-lighter;

  &.is-compact {
    padding: $gi-compact-spacer $gi-spacer;
    margin-bottom: $gi-compact-spacer;
  }

  &.is-unfilled {
    cursor: pointer;
    border: 1px dashed $primary;
    transition: background 100ms;

    &:hover {
      background: $primary-bg-a;
    }
  }

  &.has-controls {
    display: flex;
    justify-content: space-between;
    // To makeup for the square buttons height inside
    padding: 0 $gi-spacer-sm 0 0;
    align-items: center;

    .box-body {
      padding: $gi-compact-spacer $gi-spacer;
    }
  }
}
