@import "../../node_modules/bulma/sass/elements/button";

.button {
  height: auto; // Usability purposes
  min-height: 2.5rem; // A11Y purposes
  color: $grey;
  font-weight: 600; // A11Y purposes

  // with an icon only, without text
  &.is-icon {
    background-color: transparent;
    border: none;
    color: $grey;
    padding: 0;
    min-height: auto;
    width: $gi-spacer-lg;
    height: $gi-spacer-lg;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 150ms, color 150ms;

    &:focus,
    &:hover {
      background-color: $primary-bg-a;
      color: $text;
    }
  }

  &.is-compact {
    min-height: auto;
    padding: $gi-spacer-xs/2 $gi-spacer-sm;
  }
}

.button.is-success.is-outlined {
  color: darken($success, 5%); // A11Y purposes
}

.buttons {
  &:last-child {
    margin-bottom: 0; // overrides bulma layout bug
  }

  &:not(:last-child) {
    margin-bottom: $gi-spacer-sm; // overrides bulma huge margin
  }
}
