@import "../../node_modules/bulma/sass/elements/button";

.button {
  min-height: 2.5rem; // A11Y purposes
  color: $grey;
  font-weight: 600; // A11Y purposes
}

.button.is-success.is-outlined {
  color: darken($success, 5%); // A11Y purposes
}

.buttons {
  &:last-child {
    margin-bottom: 0; // overrides bulma layout bug
  }

  &:not(:last-child) {
    margin-bottom: $gi-spacer-sm; // overrides bulma huge margin
  }

  .button {
    &,
    &:last-child {
      // .buttons already has margin-bottom, this doesn't need too.
      margin-bottom: 0;
    }
  }
}
