$input-border-color: $grey-light;
$input-hover-border-color: $grey;
$input-shadow: none;
$input-focus-box-shadow-size: 0 0 0 0.1em inset;

@import "../../node_modules/bulma/sass/elements/form";

$gi-input-tickly-size: 1rem;
$gi-input-checked-size: 0.4rem;

.input {
  padding-left: $gi-spacer;

  @include placeholder {
    color: rgba($input-color, 0.4); // To improve A11Y
  }
}

.field.gi-has-addons {
  .button {
    position: relative;
    border-color: $input-border-color;
    border-width: 1px 0 1px 0;
    border-radius: 0;
    padding: 0 $gi-spacer-sm;

    // Hide box-shadow between input and first button during :focus
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      background-color: $input-background-color;
      top: 2px;
      left: -3px;
      height: calc(100% - 4px);
    }

    &:last-of-type {
      border-radius: 0 $radius $radius 0;
      border-right-width: 1px;
      padding-right: $gi-spacer;
    }

    &:hover,
    &:focus {
      color: $text !important; // overide has-text-* class
    }
  }

  .input {
    height: auto;
    padding-left: $gi-spacer;
    padding-right: $gi-spacer;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover ~ .button {
      border-color: $input-hover-border-color;
    }

    &:focus ~ .button {
      border-color: $primary;
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }
  }
}

.gi-tick-input {
  position: absolute;
  top: 1px;
  left: 1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.gi-tick-custom {
  cursor: pointer;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: $gi-spacer-xs;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $grey;
  transform: translateY(2px); // align with text

  &::after {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: 50% 50%;
    transition: transform 150ms;
  }

  .gi-tick-input:focus + &,
  .gi-tick-input:checked + & {
    outline: none;
    border-color: $text;

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.gi- {
  &is-grouped-reverse {
    flex-direction: row-reverse;

    &.field.is-grouped-right {
      justify-content: flex-start;
    }

    &.field.is-grouped > .control:not(:last-child) {
      margin-left: 0.75rem;
      margin-right: 0;
    }
  }
}
