@import "../../theme/index";

// Overrides applied to all themes
$radius: 3px;
$gap: 16px;
$strong-color: inherit;

$grey: hsl(0, 0%, 60%);
$grey-dark: hsl(0, 0%, 39%); // In between $grey (60%) and $grey-darker (21%)
$white-ter: #f4f4f4;

// Missing breakpoint - phone size
@mixin phone {
  @media screen and (max-width: 479px) {
    @content;
  }
}
