@mixin buttonState($color, $color_2) {
  @media (hover: hover) {
    &:hover {
      background-color: #{$color};
    }

    &:focus {
      box-shadow: 0 0 0 2px #{$color_2};
    }
  }
}

@mixin outlinedButtonState($color, $color_2) {
  @media (hover: hover) {
    &:focus,
    &:hover {
      background-color: $background;
      border-color: $color;
      color: $color;
    }

    &:focus {
      box-shadow: 0 0 0 2px #{$color_2};
    }
  }
}

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  @extend %unselectable;
  height: auto; // Usability purposes
  min-height: 2.75rem; // A11Y purposes
  border-radius: 2.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-color: transparent;
  background-color: $primary_0;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  transition: box-shadow 150ms ease-in;
  white-space: nowrap;
  font-size: $size-4;
  outline: none;

  @include buttonState($primary_0_1, $primary_1);

  &.is-success {
    background-color: $success_0;

    @include buttonState($success_0_1, $success_1);
  }

  &.is-danger,
  &.error {
    background-color: $danger_0;

    @include buttonState($danger_0_1, $danger_1);
  }

  [class^="icon-"]:last-child {
    margin-left: 6px;
  }

  &.is-small {
    min-height: 1.688rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 12px;

    [class^="icon-"] {
      margin-right: $spacer-sm;
    }
  }

  &.is-icon,
  &.is-icon-small {
    background-color: transparent;
    padding: 0;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text_0;
    border-radius: 50%;

    [class^="icon-"]:last-child {
      margin-left: 0;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: $text_0;
        background-color: $general_1;
        box-shadow: none; // override @mixin buttonState
      }

      &:focus {
        box-shadow: 0 0 0 2px #{$primary_1};
      }
    }

    &.has-background {
      background-color: $general_2;

      &:hover,
      &:focus {
        background-color: $general_1;
      }
    }

    &.has-background-inverted {
      background-color: $white;

      &:hover,
      &:focus {
        background-color: $general_1;
      }
    }
  }

  &.is-icon {
    width: 2.75rem;
    height: 2.75rem;
  }

  &.is-icon-small {
    width: 1.6875rem;
    height: 1.6875rem;
  }

  &.is-outlined {
    background-color: $background;
    border-color: $general_0;
    color: $text_0;

    @include outlinedButtonState($primary_0_1, $primary_1);

    &.is-success {
      border-color: $success_0;
      color: $success_0;
      @include outlinedButtonState($success_0_1, $success_1);
    }

    &.is-danger,
    &.error {
      border-color: $danger_0;
      color: $danger_0;
      @include outlinedButtonState($danger_0_1, $danger_1);
    }
  }

  &[disabled] {
    background-color: $general_0;
    color: $text_1;
    opacity: 0.5;
    cursor: not-allowed;

    @include buttonState($general_0, $text_1);
  }
}

.buttons {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;

  &.is-centered {
    justify-content: center;
  }
}

p + button,
p + .button {
  margin-top: 1.5rem;
}

button.link {
  @extend %reset-button;
  color: $primary_0;
  font-weight: 600;

  &::after {
    width: 100%;
  }

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
