@use "../variables" as *;

$card-radius: 0.625rem;
$card-shadow: 0 0 20px rgba(219, 219, 219, 0.6);
$danger_2_opacity: rgba(94, 58, 56, 0.5);

.card {
  padding: 1.5rem 1rem;
  background-color: $background_0;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 4rem;
  }

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2.5rem;
  }
}

.is-dark-theme .card {
  box-shadow: none;
}

.card-header {
  margin-bottom: 0.5rem;
}

@mixin removeSideCardPadding {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;

  @include tablet {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  @include desktop {
    width: calc(100% + 5rem);
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }
}

@mixin removeTopCardPadding {
  & { // reference: https://sass-lang.com/documentation/breaking-changes/mixed-decls/
    margin-top: -1.5rem;

    @include tablet {
      margin-top: -1.5rem;
    }

    @include desktop {
      margin-top: -2.5rem;
    }
  }
}

.cardBox {
  position: relative;
  border: 1px solid $general_0;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  &.isActive {
    border-color: $primary_0;
  }
}

.menu-tile {
  display: block;
  padding: 0.75rem 1rem;
  width: 100%;
  background-color: $general_1;
  border-radius: $card-radius;
  border: 1px solid $general_1;
  color: $text_0;
  transition: all 120ms ease-out;

  @include tablet {
    padding: 0.875rem 1.25rem;
  }

  .tile-upper-section {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 0.725rem;

    @include tablet {
      column-gap: 0.875rem;
    }
  }

  .tile-lower-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
  }

  .tile-text {
    display: block;
    flex-grow: 1;
    line-height: 1.5;
  }

  .tile-info-segment {
    display: block;
    flex-shrink: 0;
    text-align: right;
    line-height: 1;
  }

  .tile-icon {
    color: $text_1;
    flex-shrink: 0;
    transition:
      color 120ms ease-out,
      transform 200ms ease-out;
  }

  &:hover,
  &:focus,
  &:focus-within {
    border: 1px solid $general_0;
    background-color: $general_1;

    .tile-icon {
      color: inherit;
    }
  }

  .is-dark-theme & {
    background-color: $general_1;
    border: 1px solid $general_1;

    &:hover,
    &:focus,
    &:focus-within {
      border: 1px solid $general_0;
      background-color: $general_1;
    }
  }

  &.is-style-danger {
    background-color: rgba(0, 0, 0, 0);
    color: $danger_0;
    border: 1px solid currentColor;

    .tile-text,
    .tile-icon {
      color: inherit;
    }

    &:hover,
    &:focus,
    &:focus-within {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid currentColor;
      color: $danger_0_1;
    }
  }

  &.is-expanded {
    .tile-icon {
      transform: rotate(180deg);
    }
  }
}
