@use "../variables" as *;

$card-radius: 0.625rem;
$card-shadow: 0 0 20px rgba(219, 219, 219, 0.6);

.card {
  padding: 1.5rem 1rem;
  background-color: $background_0;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 4rem;
  }

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2.5rem;
  }
}

.card-header {
  margin-bottom: 0.5rem;
}

@mixin removeSideCardPadding {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;

  @include tablet {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  @include desktop {
    width: calc(100% + 5rem);
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }
}

@mixin removeTopCardPadding {
  & { // reference: https://sass-lang.com/documentation/breaking-changes/mixed-decls/
    margin-top: -1.5rem;

    @include tablet {
      margin-top: -1.5rem;
    }

    @include desktop {
      margin-top: -2.5rem;
    }
  }
}

.cardBox {
  position: relative;
  border: 1px solid $general_0;
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  &.isActive {
    border-color: $primary_0;
  }
}

.menu-tile {
  display: flex;
  align-items: flex-start;
  padding: 0.75rem 1rem;
  width: 100%;
  background-color: $background_0;
  box-shadow: $card-shadow;
  border-radius: $card-radius;
  border: 1px solid rgba(0, 0, 0, 0);
  color: $text_1;
  column-gap: 0.5rem;

  @include tablet {
    padding: 0.875rem 1.25rem;
  }

  .tile-text {
    display: block;
    flex-grow: 1;
  }

  .tile-icon {
    color: inherit;
    flex-shrink: 0;
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $general_1;
    box-shadow: $card-shadow;
    border: 1px solid $text_1;
    color: $text_0;
  }
}

.is-dark-theme {
  .card,
  .menu-tile {
    box-shadow: none;
  }
}
