.combobox {
  position: relative;
  border: none;
  width: max-content;

  &::after {
    font-size: $size_5;
  }

  .combobox-rect {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 32%;
    background-color: $white;
    z-index: 2;
    border: {
      left: 1px solid $primary_0;
      right: 1px solid $primary_0;
    }
    box-shadow: 0 2px 0 2px $primary_1;
  }

  .button {
    text-align: left;
    border-radius: 0.7rem;
    font-family: "Poppins";
    letter-spacing: 0.1px;
    display: block;
    padding-right: 1.7rem;

    &:focus + .combobox-rect {
      display: block;
    }
  }
}