@use "../variables" as *;

.custom-markdown-content {
  // style declarations for custom markdown html output content
  white-space: initial;
  -webkit-touch-callout: none;

  &.c-replying {
    border-left: 2px;
    border-color: #dbdbdb; // var(--text_1);
    border-style: none none none solid;
    font-size: 0.75rem;
    color: var(--text_1);
    font-style: italic;
    padding-left: 0.25rem;
    white-space: pre-line;

    &:hover {
      cursor: pointer;
      color: var(--text_2);
      border-color: var(--text_1); // var(--text_2);
    }

    .c-member-mention,
    .c-channel-mention {
      background-color: transparent;
    }
  }

  &.has-only-emojis {
    // If the message only contains emojis, make the text-size larger.
    font-size: 2.25em;

    .chat-emoji {
      font-size: inherit;
    }
  }

  // heading styles
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins";
    font-weight: bold;

    code {
      font-size: inherit;
    }
  }

  // inline code styles
  code {
    display: inline-block;
    border-radius: $radius;
    padding: 0.25rem;
    line-height: 1;
    font-size: $size_5;
    background-color: $general_1;
    color: $warning_0;
    margin-left: 1px;
    margin-right: 1px;
  }

  * + pre,
  * + blockquote {
    margin-top: 0.25rem;
  }

  em {
    margin-left: 1px;
    margin-right: 1px;
  }

  // list styles
  ul,
  ol {
    margin: 0.75rem 0;
  }

  ul > li {
    position: relative;
    display: block;
    padding: 0 0 0.2rem 1.125rem;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0.2rem;
      top: 0.6rem;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: $text_0;
    }
  }

  ol > li {
    position: relative;
    padding-bottom: 0.2rem;
    margin-left: 1.125rem;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  li {
    // style correction for a nested sub-list within <li></li>.
    > ul,
    > ol {
      margin-bottom: 0;
    }

    > ul > li::before {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid $text_0;
      top: 0.6rem;
      width: 0.4rem;
      height: 0.4rem;
    }
  }

  // blockquote styles
  blockquote {
    position: relative;
    padding-left: 1rem;
    white-space: pre-line;
    margin: 0.25rem 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 4px;
      top: 0;
      bottom: 0;
      border-radius: 8px;
      background-color: $general_0;
    }

    p:has(+ p, + pre),
    pre:has(+ p, + pre) {
      margin-bottom: 1rem;
    }
  }

  // table styles
  .table-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding: 1rem 0;

    &:has(+ br) {
      padding-bottom: 0;
    }

    table {
      position: relative;
      width: 100%;
      overflow: hidden;
      max-width: 100%;

      thead {
        background-color: $general_2;
      }

      tr {
        height: auto;
        box-shadow: none;
        border-bottom: 1px solid $general_2;
      }

      th,
      td {
        min-width: max-content;
        padding: 0.5rem 1rem 0.5rem 0;
        word-break: break-word;

        &:first-child {
          padding-left: 0.75rem;
        }

        .c-message-text {
          word-break: keep-all;
        }

        @include from ($tablet) {
          padding: 0.75rem 1.25rem 0.75rem 0;
        }
      }

      th {
        color: $text_0;
        font-weight: 600;
      }
    }
  }

  br + .table-container {
    padding-top: 0;
  }

  // code-fence block styles
  .code-fence-block {
    display: block;
    background-color: $general_2;
    margin: 0.25rem 0;
  }

  .code-fence-table {
    td {
      line-height: 1.5;
      padding: 0;

      &.line-number {
        text-align: right;
        color: $text_1;
        min-width: max-content;
        white-space: nowrap;
        user-select: none;
        opacity: 0.625;
        font-size: 0.675rem;
        padding-top: 0.25rem;

        @include from($chat-narrow-screen) {
          padding-right: 0.5rem;
        }
      }

      &.code-line {
        color: $warning_0;
        white-space: pre-wrap;
        word-break: break-all;
        padding-left: 0.5rem;
      }
    }

    code {
      white-space: pre-wrap;
      padding: 0;
      word-break: break-all;
    }

    tr {
      &:first-child {
        padding-top: 0.25rem;

        td.line-number {
          padding-top: 0.675rem;
        }

        td.code-line {
          padding-top: 0.5rem;
        }
      }

      &:last-child {
        td.line-number,
        td.code-line {
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  // miscellaneous
  .link {
    border-bottom-color: currentColor;
  }

  .c-edited {
    margin-left: 0.2rem;
    font-size: 0.7rem;
    color: var(--text_1);
  }

  .chat-emoji {
    font-size: 1.2em;
  }
}

// hover styles
.c-message {
  &:hover,
  &:has(.c-menu .is-active) {
    .table-container table {
      thead {
        background-color: $general_1;
      }

      tr {
        border-bottom: 1px solid $general_1;
      }
    }

    .code-fence-block {
      background-color: $general_1;
    }
  }
}

// dark-theme specific styles
.is-dark-theme .custom-markdown-content {
  .code-fence-block {
    background-color: $general_1;
  }
}
