$inputHeight: 43px;

form {
  width: 100%;
}

@mixin placeholder {
  $placeholders: ":-moz" ":-webkit-input" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

.field {
  display: block;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;

  .helper {
    display: block;
    color: $text_1;
    margin-top: $spacer-sm;
  }
}

// [1] - make the border-corner around totally visisble at combo elements

textarea,
.textarea,
select,
.select,
.input {
  background: $background_0; // [1]
  display: flex;
  justify-content: center;
  height: $inputHeight;
  width: 100%;
  border-radius: $radius;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid $general_0;
  letter-spacing: -0.6px;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  font-family: inherit;

  @mixin placeholder {
    color: $text_1;
  }

  @media (hover: hover) {
    &:focus,
    &:hover {
      border-color: $primary_0;
    }

    &:focus {
      box-shadow: 0 0 0 2px $primary_1;
    }
  }

  &.error {
    border-color: $danger_0;
    color: initial;

    @media (hover: hover) {
      &:focus {
        box-shadow: 0 0 0 2px $danger_1;
      }
    }
  }
}

textarea,
.textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  min-height: 7.5rem;
  resize: vertical;
}

.label {
  display: block;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: $spacer-sm;
}

.select-wrapper {
  .select,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding-right: $spacer-lg;
    padding-left: $spacer;
    min-width: 6.5rem;
    cursor: pointer;
  }

  &::after {
    content: "\f107"; // angle-down
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: $spacer;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.input + select {
  width: auto;
}

.select-wrapper,
.input-combo {
  position: relative;
  display: flex;
  align-items: stretch;
  border: 1px solid $general_0;
  border-radius: $radius;

  .input {
    border-radius: $radius 0 0 $radius;
    border-right: 1px solid $general_0;
  }

  .suffix {
    padding: 0 1rem;
    font-weight: normal;
    font-size: 1rem;
    align-self: center;
    height: $inputHeight;
    line-height: $inputHeight;
    border-left: 1px solid $general_0;
    white-space: nowrap;
    color: $text_0;
  }

  select:not(:first-child) {
    border-radius: 0;
    border-left: 1px solid $general_1;
  }

  select,
  .select,
  .input {
    border: 1px solid transparent;

    &:focus {
      box-shadow: 0 0 0 2px $primary_1;
      border-color: $primary_0;

      + label {
        background-color: $primary_0;
        color: #fff;
        line-height: $inputHeight;
        box-shadow: 0 0 0 2px $primary_1;
        border-radius: 0 3px 3px 0;
        position: relative;

        &::before {
          content: "";
          background-color: $primary_0;
          position: absolute;
          top: 0;
          left: -2px;
          width: 2px;
          height: 100%;
        }
      }
    }
  }

  input + select:focus {
    border-radius: 0 3px 3px 0;
  }

  button.is-shifted {
    @include tablet {
      position: absolute;
      right: -$spacer-lg;
      top: $spacer-sm;
    }
  }

  button:not(.is-shifted) {
    border-radius: 0 $radius $radius 0;

    &.is-icon {
      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px $primary_1;
        background-color: $primary_0;
        color: $white;
      }
    }
  }

  .is-icon:not(.is-shifted) {
    min-width: 40px;
    height: $inputHeight;
    text-align: center;
    color: $general_0;
    align-items: center;
    justify-content: center;
    display: flex;

    &:first-child {
      position: absolute;
    }

    + .input {
      padding-left: 40px;
      border-radius: $radius;
    }
  }

  &.error {
    border-color: $danger_0;

    @media (hover: hover) {
      input:focus {
        box-shadow: 0 0 0 2px $danger_1;
        border-color: $danger_0;
      }
    }
  }
}

span.error,
p.error {
  color: var(--danger_0);
  display: block;
  margin-top: $spacer-sm;
  margin-bottom: 0;

  &::before {
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.25rem;
  }

  & + .helper {
    // When the error and a helper are visisble at the same time
    margin-top: $spacer-sm;
  }
}

.radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 1.5rem;

  .input {
    position: absolute;
    opacity: 0;
    width: 14px;
    height: 14px;
  }

  :last-child {
    white-space: nowrap;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-radius: 50%;
    }

    &::before {
      width: 14px;
      height: 14px;
      margin-right: $spacer-sm;
      border: 1px solid $general_0;
      transform: translateY(2px);
    }

    &::after {
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $primary_0;
      top: 11px;
      left: 7px;
      transform: translate(-50%, -50%) scale(0);
      transform-origin: 50% 50%;
      transition: transform 150ms;
    }
  }

  .input.is-checked + :last-child,
  input:focus + :last-child,
  input:checked + :last-child {
    font-weight: bold;
    margin-right: -1px;

    &::before {
      border-color: $primary_0;
    }

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
