// Inline
.link {
  color: $primary_0;
  border-bottom: 1px solid $primary_1;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: border-color 1s 0.2s, color ease-in 0.2s;
  padding-left: 0;
  padding-right: 0;
  border-width: 0 0 1px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: $primary_1;
    transition: width cubic-bezier(0, 0, 0.5, 0) 0.2s;
  }

  strong {
    color: currentColor;
  }

  &:hover,
  &:focus {
    color: $text_0;
    border-color: transparent;
    transition: none;

    &::after {
      transition: width cubic-bezier(0, 0, 0, 0.3) 0.2s;
      width: 100%;
      left: 0;
    }
  }

  &.no-border {
    border-bottom: none;

    &::after {
      content: none;
    }
  }
}
