$cta-zindex: 3;

@mixin media-viewer-modal-container($zindex: 40) {
  position: fixed;
  z-index: $zindex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(10, 10, 10, 0.86);

  --viewer-bg-color: #1e2021;
  --viewer-text-color: #e8e8e8;
  --viewer-cta-bg-color: #1e2021;
  --viewer-cta-text-color: #e8e8e8;
  --viewer-cta-border-color: #717879;
  --viewer-cta-box-shadow-color: #383c3e;

  .is-dark-theme & {
    --viewer-bg-color: #717879;
  }
}

@mixin media-viewer-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--viewer-bg-color);
  overflow: hidden;
}

@mixin media-viewer-modal-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  z-index: $cta-zindex;
  padding: 1rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.75rem;

  > * {
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 135%;
    background: linear-gradient(#1e2021bb, #1e202100);
    z-index: 0;
  }

  .viewer-avatar {
    flex-shrink: 0;
  }

  .media-data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1.125;
    color: var(--viewer-text-color);
    min-width: 0;

    .name {
      font-size: $size_4;
      font-weight: 700;
    }

    .filename-and-size {
      display: flex;
      flex-direction: row;
      width: 100%;
      column-gap: 0.5rem;
    }

    .file-size {
      flex-shrink: 0;
    }

    .filename,
    .file-size {
      font-size: $size_5;
    }

    .name,
    .filename,
    .file-size {
      user-select: none;
      text-shadow: 1px 1px 2px #1e2021;
    }
  }
}

@mixin media-viewer-navigation-btn {
  position: absolute;
  z-index: $cta-zindex;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--viewer-cta-bg-color);
  color: var(--viewer-cta-text-color);
  border-color: var(--viewer-cta-border-color);
  width: 2.5rem;
  height: 2.5rem;

  &:focus {
    box-shadow: 0 0 0 2px var(--viewer-cta-box-shadow-color);
  }
}
