.pill {
  font-weight: 600;
  border-radius: 3px;
  padding: 0.375rem 0.5rem;
  line-height: 1;
  margin: 0 $spacer-xs;
  display: inline-block;
  white-space: nowrap;

  &.is-small {
    padding: ($spacer / 8) $spacer-xs;
    text-transform: uppercase;
    font-size: $size_5;
    font-weight: 100;
  }

  &.has-background-dark {
    background: $text_0;
    color: $general_2;
  }

  @each $name in $colors {
    &--#{$name} {
      @extend .pill;
      @extend .has-background-#{$name};
      @extend .has-text-#{$name};
    }
  }
}
