.table {
  position: relative;

  tr {
    border-bottom: 1px solid $general_0;
  }

  tbody tr {
    padding: 0.6875rem 0;

    &:last-child {
      border-bottom: none;
    }
  }

  thead tr {
    padding: $spacer-sm 0;
  }

  th {
    text-transform: uppercase;
    font-family: "Poppins";
    font-size: $size_5;
    color: $text-1;
  }

  td {
    font-size: $size_4;
    color: $text_0;
  }

  th,
  td {
    padding: 0;
    vertical-align: middle;
  }
}
