.centered {
  margin: 0 auto;
}
.percentage {
  height: 26px;
  color: inherit;
  border: none;
  outline: none;
  font-size: 28px;
}
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  transition: $value;
}
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

/* Slider toggle Styles */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    display: none;
  }
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  @include transition(.4s);
  &.round {
    border-radius: 34px;
    &::before {
      border-radius: 50%;
    }
  }
  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    @include transition(.4s);
  }
}

input:checked {
  & + .slider {
    background-color: #2196F3;
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  & + .slider::before {
    @include transform(translateX(26px));
  }
}
/* rounded range controls */
input[type='range'] {
  @include appearance(none);
  background-color: #ccc;
  height: 2px;
  margin: 10px;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    @include appearance(none);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background: #fff;
    border: solid #ccc 3px;
  }
  &::-moz-range-thumb {
    @include appearance(none);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background: #fff;
    border: solid #ccc 3px;
  }
  &::-moz-range-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
.created {
  color: #97cd76;
  display: block;
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
}
.create-group {
  .select::after {
    border-color: #ccc;
  }
  .box {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  margin: 30px 0 0 0;
}
.centered-button {
  max-width: 50%;
}
@font-face {
  font-family: Foco;
  src: url(../fonts/FocoBold.ttf);
}
.brand-font {
  font-family: Foco;
}
