@font-face {
  font-family: Foco;
  src: url(../fonts/FocoBold.ttf);
}

// ------ Utilities ------ //
.gi- {
  &foco-font {
    font-family: Foco;
  }

  &is-opacity-1 { opacity: $gi-opacity-1; }
  &is-opacity-2 { opacity: $gi-opacity-2; }
  &is-opacity-3 { opacity: $gi-opacity-3; }

  &is-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
