.index .groupincome-logo .white {
  display: inline-block;
}

.index .groupincome-logo .black {
  display: none;
}

.index nav li a {
  color: rgba(255,255,255,1)
}

.index .wrapper {
  background-image: url(/simple/images/home-bg.jpeg);
  background-size: cover;
}
