@use "../variables" as *;

button,
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  @extend %unselectable;
  height: auto;
  min-height: 2.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-primary-bg-color);
  background-color: var(--button-primary-bg-color);
  color: var(--button-primary-text-color);
  white-space: nowrap;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: $size_4;
  line-height: 1.25;
  outline: none;
  transition:
    box-shadow 150ms linear,
    background-color 150ms linear;

  &:focus,
  &:hover {
    box-shadow: var(--button-box-shadow);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
  }

  &.is-small {
    min-height: 1.75rem;
    padding: 0.25rem 0.5rem;
    font-size: $size_5;
    border-radius: 0.5rem;
  }

  &.is-extra-small {
    min-height: 1.375rem;
    padding: 0.25rem 0.5rem;
    font-size: $size_6;
    border-radius: 0.5rem;
  }

  &.is-outlined {
    border: 1px solid var(--button-outline-border-color);
    background-color: var(--button-outline-bg-color);
    color: var(--button-outline-text-color);

    &:active,
    &:hover {
      border: 1px solid var(--button-outline-text-color);
    }

    &:focus,
    &:active {
      background-color: $background_active;
    }
  }

  &.has-blue-background {
    background-color: $primary_blue;
    border-color: rgba(0, 0, 0, 0);
    color: $text_black;

    &:active,
    &:hover {
      box-shadow: 0 0 6px $primary_blue;
      border-color: $border;
    }
  }

  &.is-icon,
  &.is-icon-small {
    min-height: unset;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 1px solid $border;
    background-color: var(--button-outline-bg-color);
    color: var(--button-outline-text-color);

    &:active,
    &:hover {
      border: 1px solid var(--button-outline-text-color);
    }

    &:focus,
    &:active {
      background-color: $background_active;
    }

    > i {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  &.is-icon-small {
    width: 1.625rem;
    height: 1.625rem;

    > i {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}
