@use "../variables" as *;
@use "../icons" as i;

form {
  display: block;
  width: 100%;
  max-width: $formWidthConstraint;
}

.field {
  position: relative;
  display: block;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  .helper {
    display: block;
    color: $text_0;
    margin-top: 0.5rem;
    font-size: $size_6;
    padding: 0;
  }
}

.label,
.legend {
  display: block;
  font-size: 0.825rem;
  font-weight: 600;
  color: var(--styled-input-label-color);
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

/* styled-input */
.inputgroup {
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;

  .input-label {
    position: absolute;
    font-size: 0.825rem;
    font-weight: 600;
    top: 0.75rem;
    left: 1.25rem;
    cursor: default;
    user-select: none;
    color: var(--styled-input-label-color);
  }

  &.is-disabled {
    opacity: 0.525;
    cursor: not-allowed;
  }

  &.is-error {
    .input-label {
      color: $danger;
    }

    .input:not(:focus) {
      border-color: $danger;
    }
  }

  .input {
    display: block;
    height: 4.125rem;
    width: 100%;
    padding: 2rem 1.25rem 0.75rem;
    color: $text_0;
    font-size: $size_5;
    border-radius: 0.5rem;
    border: 1px solid var(--styled-input-border-color);
    background-color: var(--styled-input-background-color);
    transition: border-color 150ms;

    &:focus {
      border-color: $text_0 !important;
    }

    &:disabled {
      background-color: var(--styled-input-background-color_disabled);
    }

    &.no-label {
      height: 2.875rem;
      padding: 0.75rem 1.25rem;
    }

    @include placeholder {
      font-size: $size_5;
      font-style: italic;
      color: var(--styled-input-placeholder-color);
    }
  }
}

/* radio-button */
.radio,
.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;

  .input {
    position: absolute;
    opacity: 0;
    width: 0.875rem;
    height: 0.875rem;
    cursor: pointer;
  }

  .input:disabled + :last-child {
    cursor: default;
  }

  .is-column & {
    display: block;

    + .radio,
    + .checkbox {
      margin-top: 1rem;
    }
  }
}

.radio {
  > :last-child {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-size: $size_5;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      border-radius: 50%;
    }

    // outer-circle
    &::before {
      width: 18px;
      height: 18px;
      margin-right: 0.5rem;
      border: 1px solid var(--radio-outer-border-color);
      transition: box-shadow 200ms, border-color 200ms;
    }

    // inner-circle
    &::after {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: var(--radio-inner-bg-color);
      top: 50%;
      left: 9px;
      margin-top: -2px;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 200ms;
    }
  }

  .input:checked,
  .input:focus,
  .input:hover {
    + :last-child::before {
      border-color: var(--radio-outer-border-color_active);
    }
  }

  .input:checked {
    + :last-child::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

/* error-message for v-error */
span.error,
p.error {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: $danger;
  user-select: none;

  &::before {
    @include i.icon(close-circle);
    position: relative;
    top: 2px;
    display: inline-block;
    font-size: 1.15em;
    margin-right: 0.25rem;
  }

  & + .helper {
    // When the error and a helper are visisble at the same time
    margin-top: 0.5rem;
  }

  &.is-hidden {
    display: none;
  }
}
