// Various global classes for styling UI elements that are used across the app

// section-title
.section-title {
  position: relative;
  display: block;
  color: $text_1;
  font-size: 1rem;
  font-family: "Poppins";
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  padding-left: 0.25rem;
}

// summary-list
.summary-list {
  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  background-color: var(--summary-list-bg-color);

  @include from($phone_narrow) {
    max-width: 22.25rem;
  }

  &.is-background-blue {
    background-color: $primary_blue;
    color: $text_black;
  }

  &.is-outlined {
    background-color: $background_0;
    border: 1px solid $text_0;
  }

  &-label {
    display: block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: bold;
    font-size: $size_5;
    line-height: 1.3125;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.8;

    > * { display: inline-block; }
  }
}

// custom-pre
.custom-pre {
  position: relative;
  background-color: var(--custom-pre-bg-color);
  color: var(--custom-pre-text-color);
  border-radius: 0.2rem;
  border: 1px solid var(--custom-pre-border-color);
  letter-spacing: 1.2px;
  font-size: $size_6;
  line-height: 1.5;
  padding: 0.6rem;
  white-space: pre-wrap;
}

// tooltip
.tooltip {
  position: absolute;
  z-index: 1;
  bottom: -0.5rem;
  left: 50%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  width: max-content;
  max-width: 16rem;
  transform: translate(-50%, 100%);
  font-size: $size_5;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-bg-color);
  word-break: break-all;
  pointer-events: none;
  user-select: none;
  opacity: 0;

  &.font-small { font-size: $size_6; }
  &.font-extra-small { font-size: 0.7rem; }

  &.is-active {
    opacity: 1;
  }
}
