// Various global classes for styling UI elements that are used across the app

.section-title {
  position: relative;
  display: block;
  color: $text_1;
  font-size: 1rem;
  font-family: "Poppins";
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
  padding-left: 0.25rem;
}

.summary-list {
  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  background-color: $background_1;

  @include from($phone_narrow) {
    max-width: 22.25rem;
  }

  &.is-background-blue {
    background-color: $primary_blue;
    color: $text_black;
  }

  &.is-outlined {
    background-color: $background_0;
    border: 1px solid $text_0;
  }

  &-label {
    display: block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: bold;
    font-size: $size_5;
    line-height: 1.3125;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.8;

    > * { display: inline-block; }
  }
}
