@use "../variables" as *;
@use "sass:list";

$pill_colors: (
  purple-1: ($secondary_purple_2, $primary_purple),
  blue-1: ($secondary_blue_2, $primary_blue),
  green-1: ($secondary_green_2, $primary_green),
  warning: ($warning_1, $warning_bg),
  danger: ($danger, $danger_bg),
  neautral: ($text_0, $border)
);

.pill {
  display: inline-block;
  line-height: 1;
  padding: 0.125rem 0.25rem;
  white-space: nowrap;
  font-size: $size_5;
  color: var(--pill-text-color);
  border-radius: $radius;

  @each $name, $colors in $pill_colors {
    $text: list.nth($colors, 1);
    $bg: list.nth($colors, 2);

    &.is-#{$name} {
      color: $text;
      background-color: $bg;
    }
  }
}

:root[data-theme="dark"] {
  .pill {
    &.is-purple-1 {
      color: $secondary_purple_1;
      background-color: rgba(229, 236, 246, 0.2);
    }

    &.is-blue-1 {
      background-color: rgba(227, 245, 255, 0.2);
    }

    &.is-green-1 {
      background-color: rgba(225, 247, 239, 0.2);
    }
  }
}
