@use "../variables" as *;
@use "sass:map";

$pill_colors: (
  purple-1: $secondary_purple_1,
  blue-1: $secondary_blue_1,
  green-1: $secondary_green_1,
  warning: $warning,
  danger: $danger,
  neutral: $border
);

.pill {
  display: inline-block;
  line-height: 1;
  padding: 0.125rem 0.25rem;
  white-space: nowrap;
  font-size: $size_5;
  color: var(--pill-text-color);
  border-radius: $radius;

  @each $name, $color_val in $pill_colors {
    &.is-#{$name} {
      background-color: $color_val;
    }
  }
}

:root[data-theme="dark"] {
  .pill.is-neutral,
  .pill.is-danger {
    color: $text-0;
  }
}
