@use "../variables" as *;

.skeleton {
  position: relative;
  display: block;
  min-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  background-image: var(--skeleton-gradient);
  background-size: 300% 100%;
  animation: skeleton-shine 3s linear infinite;
  margin-bottom: 1rem;

  &.is-heading {
    height: 3rem;
    max-width: 12.75rem;

    & + .is-sub-heading {
      margin-top: -0.25rem;
    }
  }

  &.is-sub-heading {
    height: 1.25rem;
    max-width: 7.25rem;
  }

  &.is-paragraph {
    height: 1.625rem;

    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }

    &:last-of-type {
      width: 12.75rem;
    }
  }

  &.is-card {
    width: 17.5rem;
    height: 16.25rem;
    border-radius: 1.25rem;
    padding: 2rem 1.75rem;

    .is-heading {
      max-width: 8.75rem;
    }

    > .skeleton {
      border-radius: 1rem;
    }
  }
}

@keyframes skeleton-shine {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: -300% 0%;
  }
}
