@use "../variables" as *;

table.table {
  position: relative;

  thead {
    border-bottom: 1px solid $text_black;
  }

  tr {
    position: relative;
    height: 2.26rem;
    vertical-align: middle;
  }

  tbody > tr {
    border-bottom: 1px solid $border;
  }

  th,
  td {
    padding: 0 0.2rem;
  }

  th {
    font-size: 0.85rem;
    font-weight: 600;
  }

  td {
    line-height: 2.25rem;
    font-size: 0.8rem;
  }
}
