.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* message transition */
.slidedown-enter-active,
.slidedown-leave-active {
  transition: max-height 0.3s ease;
  max-height: 150px;
  overflow: hidden;
}

.slidedown-enter,
.slidedown-leave-to {
  max-height: 0;
}
