$modal-content-margin-mobile: 0;
$modal-content-margin-mobile: $gi-spacer-sm;

$modal-card-head-background-color: $body-background-color;
$modal-card-head-border-bottom: none;
$modal-card-head-padding: $gi-spacer-lg $gi-spacer;
$modal-card-title-line-height: inherit;
$modal-card-foot-border-top: $modal-card-head-border-bottom;
$modal-card-body-padding: $gi-spacer $gi-spacer-lg;
$modal-z: $gi-zindex-modal;

@import "../../node_modules/bulma/sass/components/modal";

// Bulma customization variables are not enough

.modal-card {
  width: auto;
  max-width: 100%;

  &-content {
    background: $body-background-color;
    border-radius: $radius;
    padding: $gi-spacer;
  }

  .delete {
    position: absolute;
    top: $gi-spacer;
    right: $gi-spacer;
    z-index: 1;
  }

  &-head {
    display: block;
  }

  &-body,
  &-foot {
    flex-direction: column;
    justify-content: center;
  }

  @include tablet {
    &-content {
      padding: $gi-spacer-lg;
    }

    &-head,
    &-body,
    &-foot {
      padding-left: $gi-spacer-xl;
      padding-right: $gi-spacer-xl;

      .is-small & {
        width: 20rem;
        padding-left: $gi-spacer-lg;
        padding-right: $gi-spacer-lg;
      }

      .is-medium & {
        width: 50rem;
      }
    }
  }
}
