$title-color: $text;
$title-line-height: 1.2;
$title-weight: 700;
$subtitle-weight: $weight-normal;
$subtitle-size: $size-6;
$subtitle-color: $text-light;
$subtitle-line-height: $title-line-height;
$subtitle-negative-margin: 0;

@import "../../node_modules/bulma/sass/elements/title";

.subtitle {
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-size: 0.75rem;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}
